[grpc]
host = 127.0.0.1
port = 8088

[redis]
host = 127.0.0.1
port = 6379
password = 123456

[rabbitmq]
host = 127.0.0.1
port = 5672
username = root
password = 123456

[mysql]
host = 127.0.0.1
port = 3306
database = dbname
username = root
password = 123456

[gomengine]
;精度，可更改
accuracy = 8